<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Error</title>
    </head>
    <body>
        <h1><%= error.status %> - <%= message %></h1>
        <pre><%= error.stack %></pre>
    </body>
</html>